/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
Issues.md
/public/images
laravel-push-notificatio-6ead1-firebase-adminsdk-b894w-97b8060edd.json
app/Notifications/SendPushNotification.php
config/larafirebase.php
database/migrations/2021_07_30_131246_add_fcm_device_token_to_users_table.php